//Media Queries

@media screen and (max-width: 580px) {
	nav{
		height: auto;
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav li {
		float: right;
		width: 100%;
		position: relative;
	}
	nav a {
		text-align: center;
		width: 100%;
		text-indent: 10px;
		background-color: #333;
	}
	nav a#openup:after {
		content: '|||';
		transform: rotate(-90deg);
		width: 30px;
		height: 30px;
		display: inline-flex;
		position: relative;
		top: -58px;
		right: 15px;
	}
	nav a#openup {
		display: block;
		background-color: transparent;
		width: 100%;
		position: relative;
	}
	.cf:before,
	.cf:after {
		content: "";
		display: table;
	}
	.cf:after {
		clear: both;
	}
	.cf {
		zoom: 1;
	}
	#bg-image {
		width: 100%;
		height: 50vh;
	}
	.bg-content {
		margin-top: 30vh;
		overflow-y: hidden;
	}
	#features {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.our-service-inner {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2,1fr);
	}
	#forms {
		height: 80vh;
		width: 100%;
	}
	#forms h2 {
		margin-top: 5vh;
	}
	#forms #paragraph1 {
		display: none;
	}
	#forms button {
		position: relative;
		right: 20px;
	}
	#about-us {
		height: 100vh;
		width: 100%;
	}
	.about-logo #ab1 {
		width: 60px;
	}
	.about-logo h2 {
		font-size: 1.3rem;
	}
	.about-logo p {
		font-size: 1rem;
	}
	.james1 img {
		position: relative;
		bottom: 10vh;
	}
	.james1 button {
		position: relative;
		right: 22vw;
		bottom: 30vh;
	}

}

@media screen and (min-height: 568px) {
	.bg-text{
		display: none;
	}
	aside {
		display: none;
	}
	button {
		
	}
	#about-us {
		height: 100%;
		width: 100%;
	}
}
