@import 'config';

body {
	margin: 0;
	padding: 0;
	line-height: 1.6;
	width: 100%;
	// overflow:hidden;
}
header {
   @include background; 
	min-height: 100vh;
	width: 100%;
	overflow:hidden;
}
.branding {
	position: relative;
	left: 30px;
	top: 10px;
	width: 100%;
}
.branding #img1 {
	width: 60px;
}
.branding #img2 {
	width: 140px;
}
.branding p {
	font-size: 1rem;
	color: #fff;
}
nav {
	float: right;
}

nav li {
	display: inline-flex;
	position: relative;
	bottom: 60px;
	width: 100px;
}
nav a {
	color: floralwhite;
	text-decoration: none;
	@include easeOut;

	&:hover {
		color: gold;
		text-decoration: none;
		@include easeOut;
	}
}


.bg-content {
	text-align: center;
	margin-top: 30vh;

	&.bg-content h3 {
		font-size: 2.3rem;
		font-weight: 400;
		color: #fff;
	}
	&.bg-content p {
		font-size: 1.2rem;
		color: #fff;
	}
}

.james-logo {
	text-align: center;
	margin-top: 5vh;

	&.james-logo a {
		position: relative;
		top: 55px;
		right: 50px;
		font-size: 1.3rem;
		border:1px solid gold;
		padding: 5px 5px;

		&:hover {
			text-decoration: none;
			color: floralwhite;
			padding: 3px 3px;
			background: $content-color;
			@include easeOut;
		}
	}
	&.james-logo img {
		position: relative;
		left: 40px;
	}
}


// Features

#features {
	min-height: 100vh;
	width: 100%;
	margin: 0;
	background: beige;

	&#features h2 {
		text-align: center;
		font-size: 2.2rem;
		font-weight: 400;
		text-transform: uppercase;
	}
	&#features #paragraph {
		text-align: center;
		font-size: 1.2rem;
	}
}

.our-service-inner {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(3,1fr);
	text-align: center;
	margin: 0 auto;
	width: 70%;
	padding: 10px 0px;

}
.service-item {
	background: $content-color;
	padding: 0 10px;
	padding-bottom: 2%;
}



// Forms 
#forms {
	min-height: 50vh;
	width: 100%;
	background: forestgreen;

	&#forms h2 {
		text-align: center;
		font-size: 2rem;
		color: floralwhite;
		text-transform: uppercase;
		font-weight: 400;
	}
	&#forms #paragraph1 {
			text-align: center;
			font-size: 1.2rem;
			color: floralwhite;
			font-weight: 600;	
		}
}
aside {
	margin-left: 2%;
	color: floralwhite;
	font-weight: bold;
}
.form-group {
	text-align: center;

	&.form-group input {
		width: 45vh;
		padding: 4px 0px;
	}
}

#forms button {
	position: relative;
	left: 910px;
}

label {
	font-size: 1.1rem;
	color: floralwhite;
}






